<title>
    <%=article.slug%>
</title>
<% if(messages.error) { %>
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong><%=messages.error%></strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <% } %>
        <div class="bg-color ">
            <div class=" container  my-3 bg-back-color  border rounded-sm">
                <div class="text-center">
                    <%  if(user && user.role === 'admin' ) { %>
                        <a href="/admin/edit/<%=article._id%>" class="">
                            <span class="btn btn-dark my-3"><svg xmlns=" http://www.w3.org/2000/svg " width="20 " height="20 " fill="currentColor " class="bi bi-pencil " viewBox="0 0 16 16 ">
                <path fill-rule="evenodd " d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5L13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207
            4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175l-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z "/>
              </svg> Edit </span>
                        </a>
                        <a href="/admin/delete/<%=article._id%>" class="btn btn-danger"> Delete</a>
                        <% }  %>

                            <h1 class=" text-primary py-1 ">
                                <%=article.title%>
                            </h1>
                            <small class=" text-dark text-muted mb-2"><%= article.createdAt.toLocaleDateString() %></small>

                            <p>
                                <%=article.description%>
                            </p>
                            <hr>

                </div>
                <div id="sanitizedHtml" class="border p-3">
                    <%-article.sanitizedHtml%>
                </div>
                <div class="commit">
                    <%if(user) { %>
                        <form action="/article/comment/<%=article.slug%>" method="post" class="form-group">
                            <input type="text" name="comment" id="" placeholder="Add a Commentt" class=" card border-primary py-3 my-3 px-3">
                            <button type="submit" class="btn btn-danger"> Comment</button>
                        </form>
                        <% } else { %>
                            <a href="/login" class="btn btn-dark my-1">Login to Comment</a>
                            <% } %>
                </div>
                <div id="Comments" class=""></div>
                <div class="">
                    <ul class="navbar-nav">
                        <% Allarticle.forEach(function(article,index) {%>
                            <li class="p-1 m-1 border bordr-light bg-dark rounded ">
                                <a href="/article/<%=article.slug%>" class="li-link-article">
                                    <%=article.slug%>
                                </a>
                            </li>
                            <% }) %>
                    </ul>
                </div>
            </div>